@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 600;
}

a {
    text-decoration: none!important;
}

.landingPage {
    margin-top: 60px;  /*for the Navigation Bar to not overlap the page content*/
    text-align: center;
    padding: 1rem;
    margin-bottom: 60px; /*for the  Bottom Navigation Bar to not cut off the page content*/
}

.carousel {
    margin: 1.5rem 0;
}

.aboutImg {
    margin: 1.5rem 0;
}

.contactPage {
    margin-top: 60px;  /*for the Navigation Bar to not overlap the page content*/
    text-align: center;
    padding: 1rem;
    margin-bottom: 60px; /*for the  Bottom Navigation Bar to not cut off the page content*/
}

.userProfilePage {
    margin-top: 60px;  /*for the Navigation Bar to not overlap the page content*/
    text-align: center;
    padding: 1rem;
    margin-bottom: 60px; /*for the  Bottom Navigation Bar to not cut off the page content*/
}

.signUpPage {
    margin-top: 60px;  /*for the Navigation Bar to not overlap the page content*/
    text-align: center;
    padding: 1rem;
    margin-bottom: 60px; /*for the  Bottom Navigation Bar to not cut off the page content*/
}
