@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 600;
}

a {
    text-decoration: none;
}

.landingPage {
    text-align: center;
    padding: 1rem;
}

.carousel {
    margin: 1.5rem 0;
}
