@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 600;
}

h5 {
    text-align: center!important;
}

a {
    text-decoration: none!important;
}

option {
    text-transform: capitalize;
}

ol {
    text-align: left!important;
    padding-left: 2rem!important;
}

legend {
    font-size: 1.1rem!important;
    text-align: left!important;
}

.generalFormat, .landingPage, .aboutPage, .contactPage, .userProfilePage, .signUpPage {
    margin-top: 60px;  /*for the Navigation Bar to not overlap the page content*/
    text-align: center;
    padding: 1rem;
    margin-bottom: 60px; /*for the  Bottom Navigation Bar to not cut off the page content*/
}

.spreadImgs {
    margin: 1.5rem 0!important;
}

.imgCredit {
    font-size: .75rem;
}

.loginForm, .animalForm, .signupForm {
    padding: 3rem 3rem 2rem 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.loadingIcon {
    margin-top: 5rem!important;
    width: 5rem;
    height: 5rem;
}

.card-img-top {
    object-fit: none;
    object-position: center;
    width: 100%;
    max-height: 15rem;
    margin-bottom: 3rem;
}

.cardDetail {
    max-height: 10rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.animalForm {
    margin-top: 1.5rem;
}

.list-group {
    text-align: left!important;
    border: 1px solid lightgrey;
}

.breed {
    max-height: 10rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    text-align: left!important;
    border: 1px solid lightgrey;
}

.list-group-item {
    border-right: none!important;
    border-left: none!important;
    text-transform: capitalize;
}

.list-group-item:first-of-type{
    border-top: none!important;
}

.list-group-item:last-of-type{
    border-bottom: none!important;
}

.card-body {
    text-align: left!important;
}

.card-image {
    width: 100%;
}

.loginImg {
    padding: 0;
    margin-bottom: 1rem;
}

.loginForm > div, .signupForm > div {
    margin-bottom: 1rem;
}

.loginError, .signupError, .animalError, .breedError  {
    color: red;
}

.disclaimer {
    margin-top: 1rem;
    margin-bottom: 0!important;
}

#animalDiv {
    margin-top: 1.5rem;
}

